body {
    margin: 0 auto;
}

@font-face {
    font-family: "majid";
    src: url(font/dpark.ttf);

}

section {
    margin: 0 auto;
    width: 1365px;
    height: 657px;

    background: linear-gradient( to right, rgb(15, 100, 45) 60%,rgb(6, 248, 91)) ;
    /* background-repeat: no-repeat; */
    /* background-image: url(img/2cf3eff413a99a414f215d12a38a15ff.gif); */
    /* background-size: 1370px 656px; */
   
    
}

#container {
    margin: 0 auto;
    height: 610px;
    width: 1300px;
    display: flex;
    position: relative;
    top: 30px;
    
    background: url(img/pngtree-green-grass-design-png-psd-png-image_6116409.png);
    background-repeat: no-repeat;
    background-size: 1260px 600px;
    opacity: 0.95;
}

#container #hummy {
    position: absolute;
    margin: 20px;
}

#hummy>img {
    width: 100px;
}

#bomb>.bombImg {
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#informaition{
    width: 50px;
    position: absolute;
    top: 100px;
   left: 96%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: right;
    justify-items: right;
    background: rgba(63, 128, 54, 0.466);
    padding:10px ;
    border-radius: 8px;
 }
 #gameSpeed{
     /* opacity: 1; */
     appearance: slider-vertical;
     height: 200px;
     width: 50px;
     margin: 50px 0 10px 0;
     
 }
 #informaition>span{
     font-size: 30px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: #ffff;
     background-color: rgba(110, 116, 122, 0.918);
     padding: 8px 15px;
     border-radius: 10px;
     margin-top: 10px;
 }

 #gameOver{
    width: 100%;
    background-color: rgba(201, 193, 193, 0.226);
    padding: 40px;
    border-radius: 10px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
   
    z-index: 5;
    transition: linear;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 3ms;

 }

 #textGameOver{
    background-color: rgb(53, 57, 58);
    width: 420px;
    height: 180px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 20px 19px 38px, rgba(0, 0, 0, 0.22) 2px 0px 32px;
 }

 #textGameOver span{
    color: rgb(235, 115, 60);
    font-family: "majid";
   
    transition: linear;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 3ms;
 }
 #textGameOver img{
    width: 100px;
 }